.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared styles */
*{
    box-sizing: border-box;
}

.primary-color{
    color:rgba(233, 90, 8, 1) ;
}
.p-color{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
body{
    font-family: Inter;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.margin{
max-width: 1140px;
margin: 0 auto;
}


/* Header Styles */
header{
    max-width: 1140px;
    margin: 0 auto;
}
/* nav styles */

nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-container ul{
    display: flex;
    gap: 40px;
}
.menu-container{
    display: flex;
}
nav ul li{
list-style: none;
}
nav ul a{
    text-decoration: none;
    color: black;
}
/* Banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 120px 0px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}
.banner-img{
    width: 100%;
}
/* Main styles */
/* plant section styles */
.plant-header{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plant{
    text-align: center;
    margin-bottom: 100px;
}
.plant-title{
    font-size: 3rem;
    margin-bottom: 0px;
}
.plant-cart{
    text-align: center;

}
.plant-name{
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 0;
}
.plant-price{
     font-size: 1.375rem;
    font-weight: 700;
    margin-top: 10px;
}
.cart-btn{
background-color:rgba(233, 90, 8, 1) ;
padding: 19px 40px;
color: white;
width: 100%;
border: none;
cursor: pointer;
}
.plant-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap:30px;
}
.plant-img{
    width: 100%;
}
/* Lover section styles */
.lover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.75rem;
    margin-top: 200px;
    margin-bottom: 120px;
}
.lover-img{
    position: relative;
}
.lover-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}
.badge-img{
    width: 280px;
    position: absolute;
    right: -95px;
    top: -130px;
}
/* Deals section */
.deal-info
{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.deal-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.deal-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.deal-card:nth-child(1),
.deal-card:nth-child(2){
  grid-column: 1;
}
.large {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.deal-card {
  position: relative;
  overflow: hidden;
  border-radius: 13px;
}

.deal-card img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.zabo{
    font-size: 2.5rem;
    margin-bottom: 0px;
}
.offer-text{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.overlay a{
    color: aliceblue;
    font-weight: bold;
}
.deal{
    margin-bottom: 100px;
}
/* Join section styles */
.join img{
    width: 100%;
}
.join-content{
position: relative;
overflow: hidden;
}
.join-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-field{
    display: flex;
    width: 100%;
    max-width: 800px;
  
}
.join-btn{
    background-color:rgba(233, 90, 8, 1) ;
    color: white;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
}
.input-field input{
    padding: 10px;
   flex-grow: 1;
}
.join{
 margin-bottom: 100px;

}
/* Footer styles */
.footer-container{
    display:flex ;
    justify-content: space-between;
}
.footer-logo{
    max-width: 360px;
}
.footer-logo>img{
    width: auto;
}
footer ul li{
    list-style: none;
    margin: 20px;
}
footer ul a{
text-decoration: none;
color:black
}
.footer-img>img{
    padding: 10px;
    vertical-align: middle;
    width: auto;
}
/* Media query design */
@media screen and (max-width: 768px) {
    .hidden{
        display: none;
    }
    .nav-item-container{
        padding: 10px 10px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .banner-description{
        padding: 10px;
    }
    .banner-img{
    width: 100%;
    }
    .plant-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .lover{
        flex-direction: column;
    }
    .lover-title{
        margin-left: 10px;
    }
    .lover-img{
        text-align: center;
        width: 100%;
    }
    .deal-grid{
        grid-template-columns: 1fr;
        gap: 20px;
    }
.deal-card.large{
    grid-column: auto;
    grid-row: auto;
}
.join img{
    width: 100%;
    height: 100%;
}
.join-title{
    font-size: 1.5rem;
}
.offer-text{
    font-size: 2.5rem;
}
.footer-container{
    flex-direction: column;
}
.footer-items ul{
    padding: 0px;
}
.footer-logo{
    padding: 15px;
}
.footer-img{
    margin-left: 12px;
}
}